html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

a {
    color:#fff;
    text-decoration: none; /* no underline */
  }

#map{
    width: 100%;
    height: calc(100% - 130px);
}

.panel{
    width:100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1000;
}

.slider-wrapper{
    height: 20px;
    width: calc(100% - 40px);
    margin: 0 auto;
}

.panel-content{
    height: 115px;
    background-color: #020202;
    display: flex;
    flex-direction: row;
}

.logo{
    color: #ffff;
    font-size: 100px;
    align-self: center;
}

.slider-value-wrapper{
    color: #ffff;
    margin: auto auto;
    display: flex;
    align-items: baseline;
    z-index: 10001;
}

.slider-value-label{
    font-size: 40px;
}

.slider-value{
    font-size: 50px;
}

/* .slider-pips > .noUi-base > .noUi-connects */

.noUi-connect{
    background: #40a4df;
}

.credits{
    width: 100%;
    height: 15px;
    background-color: #020202;
    display: flex;
}

.credits > span{
    font-size: 12px;
    color: #fff;
    margin-left: 6px;
}

.credits > span > a:hover{
    color: #40a4df;
}

.icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.panel-simulation-wrapper{
    margin: auto 10px;
    color: #fff;
}

.panel-simulation-wrapper:hover{
    color: #40a4df;
}

.leaflet-control-attribution{
    display: none;
}

@media (max-width: 991.98px) {
    .logo{
        font-size: 75px;
    }
    .credits > span{
        font-size: 10px;
    }

    .icon{
        width: 40px;
        height: 40px;
    }

    .slider-value-wrapper{
        padding-top: 2%;
    }

    .slider-value{
        font-size: 35px;
    }

    .slider-value-label{
        font-size: 30px;
    }
}


@media (max-width: 767.98px) {
    .logo{
        font-size: 60px;
    }
    .credits > span{
        font-size: 9px;
    }

    .icon{
        width: 35px;
        height: 35px;
    }

    .slider-value{
        font-size: 30px;
    }

    .slider-value-label{
        font-size: 25px;
    }

    .panel-simulation-wrapper{
        margin: auto 5px;
    }

    .panel{
        height: 130px;
    }

    #map{
        height: calc(100% - 100px);
    }
}

@media (max-width: 575.98px) {
    .slider-value{
        font-size: 20px;
    }
}